* {
  text-align: center;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('../images/halftone-yellow.png');
}

header {
  background: white;
  height: 50px;
  padding: 20px;
}

article {
  position: absolute;
  width: 300px;
  background: beige;
  margin: 30px;
  padding: 30px;
}

.gems {
  position:absolute; 
  top:250px; 
  left: 80px; 
  z-index: -20; 
  height: 150px;
  background: white;
  margin: 43px;
  padding: 20px;
  background-image: url('../images/southpark.jpg');
  background-repeat: no-repeat;
  color: white;
}

.cartman-image {
  width: 200px; 
  height: 200px;
  margin: 10px;
}

#number {
  background: orange;
  position: absolute;
  height: 50px;
  margin: 30px;
  right: 100px;
  width: 138px;
  padding: 20px;
}

#total {
  background: green;
  position: absolute;
  height: 50px;
  margin: 30px;
  right: 100px;
  top: 100px;
}